
        .container{
            background-color: brown;
            box-shadow: 3px 3px 5px black;
        }
        @media screen and (min-width:525px) and (max-width:728px){
            .container{
            background-color: green;
            }
            .container img{
                transition: all ease-in 2s;
            }
            .container:hover img{
                border-radius: 50%;
            }
        }

        @media screen and (min-width:520px) and (max-width:920px){
            .container{
            background-color: rgb(57, 22, 211);
            }
            .container img{
                transition: all ease-in 2s;
            }
            .container:hover img{
                border-radius: 50%;
            }
        }

        @media screen and (min-width:921px) and (max-width:1440px){
            .container{
            background-color: yellow;
            }
            .container img{
                transition: all ease-in 2s ;
            }
            .container:hover img{
                border-radius: 50%;
            }
        }

        @media screen and (min-width:1441px) and (max-width:2560px){
            .container{
            background-color: red;
            }
            .container img{
                transition: all ease-in 2s;
            }
            .container:hover img{
                border-radius: 50%;
            }
        }